.newsletter {
  h4 {
    margin: 0;
  }
}

.form {
  margin-top: 0.5rem;
}

.input {
  padding: 0.5rem;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button {
  padding: 0.5rem 1rem;
  background-color: #8b0808;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.message {
  color: #fff;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
