.newsletter {
  h4 {
    margin: 0 0 1rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.25;
  }
}

.form {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.input {
  min-width: 0;
  flex: 1 1 auto;
  width: auto;
  height: 2.4rem;
  padding: 0 0.8rem;
  border-radius: 1rem 0 0 1rem;
  border: none;
  font-family: inherit;
  font-size: 0.8rem;
}

.button {
  flex: 0 0 auto;
  height: 2.4rem;
  padding: 0 1rem;
  background-color: var(--primary-dark);
  color: var(--surface);
  border: none;
  border-radius: 0 1rem 1rem 0;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  .input {
    width: 100%;
  }
}

.message {
  color: var(--surface);
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
