.navbar {
  background-color: var(--primary-dark);
  min-height: 2.25rem;
  padding: 0.55rem 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: var(--surface);
    text-decoration: none;
    margin-right: 1.25rem;
    font-size: 0.65rem;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  .loginLink {
    border-left: 1px solid var(--surface);
    padding-left: 0.8rem;
    margin-left: 0.1rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-inline: 5%;

    a {
      margin-right: 0.65rem;
      font-size: 0.58rem;
    }
  }
}